<div class="zippy-folio">
        <div class="container">
        <div class="row padding">
        <h1 class="text-center" id="portfolio">Portfolio</h1>

        <zippy-smiton heading="Freelance Developer">
                </zippy-smiton>

                <zippy-scrum heading="Scrum Master">
                </zippy-scrum>
                
                <zippy-boot heading="Bootstrap">
                </zippy-boot>

                <zippy-app heading="Applications">
                </zippy-app>

    </div>
    </div>
    </div>